# Cryptography library for encryption
cryptography==3.4.8

# Python library for handling command-line arguments
click==7.1.2

# Library for network scanning and discovery
python-nmap==0.7.0

# Library for handling concurrent threads
futures==3.1.1

# Python library for HTTP requests
requests==2.26.0

# Python library for web scraping
beautifulsoup4==4.10.0
